  

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('icons.woff2') format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* fallback */
@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 100 700;
  src: url('/icons_outline.woff2') format('woff2');
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Poppins Bold';
  src: url('Poppins-Bold.ttf') format('truetype')
}
@font-face {
  font-family: 'Poppins Regular';
  src: url('/Poppins-Regular.ttf')
}
/* css reset */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
*,
html,
body {
  margin: 0;
  padding: 0;
  color: rgb(51 65 85);
  box-sizing: border-box;
  font-family: 'Poppins Regular';
  scroll-behavior: smooth;
  /* border: .3px solid black; */
}
body {
  background-color: rgb(241 245 249);
  display: grid;
  justify-content: center;
  background-color: #000;
}
.container {
  display: flex;
  justify-content: center;
  animation: start ease 2s alternate forwards running;
  background-color: rgb(241 245 249);
  overflow: hidden
}
/* navbar style */
.navbar {
  position: fixed;
  top: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  overflow: hidden;
}
.nav-top {
  width: 320px;
  height: 50px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #fff;
  padding: 15px;
}
.nav-top .first,
.last {
  font-family: 'Poppins Bold';
  margin-right: 5px;
}
.last {
  color: #0ea5e9;
}
.navigation {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
}
.navigation .icon {
  color: #758292;
  padding: 4px 10px;
}
.navigation .material-icons {
  color: #0ea6e9;
  border-bottom: 2px solid #0ea6e9;
}
.navigation .material-symbols-rounded {
  font-size: 30px;
}
.nav-right i {
  font-size: 24;
}
/* search engine */
::selection {
  color: #fff;
  background: #664AFF;
}
.search-input {
  background-color: #fff;
  width: 0;
  border-radius: 50px;
  position: absolute;
  left: 270px;
  display: none;
  overflow: hidden;
  animation: muncul ease .7s alternate forwards running;
}
.search-input input {
  height: 30px;
  width: 90%;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 2px 10px 2px 10px;
  font-size: 10px;
  background-color: #f1f4f9;
  margin-left: 25px;
}
.search-input.active input {
  border-radius: 20px;
}
.search-input .autocom-box {
  width: 100%;
  position: absolute;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
  background-color: #f9f9f9;
  margin-top: 35px;
  border-radius: 4px
}
.search-input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}
.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}
.search-input.active .autocom-box li {
  display: block;
}
.autocom-box li:hover {
  background: #efefef;
}
.search-input .search .material-symbols-rounded {
  position: absolute;
  right: 4px;
  top: 2px;
  text-align: center;
  line-height: 20px;
  font-size: 24px;
  cursor: pointer;
}
.search-input .material-symbols-rounded {
  position: absolute;
  top: 2px;
}
.content {
  padding: 150px 0 50px 0px;
}
.intro {
  padding-left: 2em;
  display: grid;
  grid-gap: 5px
}
.greeting {
  font-size: 1em;
  font-weight: bold;
  color: rgb(30 41 59);
}
.intro .name {
  font-family: 'Poppins Bold';
  font-size: 2.2em;
 /* background: linear-gradient(to right,rgb(37 99 235), #0D92CC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  color: rgb(14 165 233);
}
.intro p,.intro .profession {
  color: rgb(100 116 139);
}
.intro .wb {
  color: rgb(30 41 59);
}
.sosmed {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@keyframes muncul{
  0%{
    width: 0;
    opacity: 1;
  }
  100%{
    width: 276px;
    left: 5px;
    opacity: 1;
  }
}
@keyframes start {
0%{
                                width: 0px;
                                height: 0px;
                                margin-top: 50vh;
                        }
                        50%{
                                width :100vw;
                                height :1px;
                                margin-top: 50vh
                        }
                        100%{
                                width :100vw;
                                height :100vh;
                        }
}
